body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Calc_ {

    background: rgb(133, 133, 133);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    border: 2px solid rgb(129, 129, 129); /* Subtle border */
    border-radius: 12px;
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        inset -5px -5px 10px rgba(0, 0, 0, 0.2),
        inset 5px 5px 10px rgba(255, 255, 255, 0.5);
}


#opr{
    border: 2px ghostwhite;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;

    background-color:lightslategray;

    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        inset -5px -5px 10px rgba(0, 0, 0, 0.2),
        inset 5px 5px 10px rgba(255, 255, 255, 0.5);

}
#opr:hover{
    background-color:gainsboro;
}

#num{
    border: 2px black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;

    background-color:seagreen;

    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        inset -5px -5px 10px rgba(0, 0, 0, 0.2),
        inset 5px 5px 10px rgba(255, 255, 255, 0.5);
}
#num:hover{
    background-color:teal;
}

#eql{
    border: 2px orchid;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;

    background-color:cornflowerblue;

    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        inset -5px -5px 10px rgba(0, 0, 0, 0.2),
        inset 5px 5px 10px rgba(255, 255, 255, 0.5);
}
#eql:hover{
    background-color:lightblue;
}
#bck{
    border: 2px brown;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;

    background-color:cornflowerblue;

    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        inset -5px -5px 10px rgba(0, 0, 0, 0.2),
        inset 5px 5px 10px rgba(255, 255, 255, 0.5);
}
#bck:hover{
    background-color:lightblue;
}

#clr{
    border: 2px brown;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;

    background-color:salmon;

    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        inset -5px -5px 10px rgba(0, 0, 0, 0.2),
        inset 5px 5px 10px rgba(255, 255, 255, 0.5);
}
#clr:hover{
    background-color:rosybrown;
}

.TBox_{
    padding: 10px 100px;
    background-color:rgba(215, 207, 207, 0.834);
    border: 2px solid rgba(0, 0, 0, 0.433); /* Subtle border */
    border-radius: 5px;
    box-shadow: 
        inset 3px 3px 5px rgba(0, 0, 0, 0.2), /* Inner shadow for recessed effect */
        inset -3px -3px 5px rgba(255, 255, 255, 0.5); /* Inner highlight */
    font-family: sans-serif;
}

.ButCol_{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    

}